:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
